.dropdown-toggle{
    margin-top: 10px;
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-group{
    padding: 5px 5px 5px 5px;
}
p{
    padding: 5px 5px 5px 5px;
}
#createTicketDiv{
    padding: 10px 10px 10px 10px;
}

